@{
    ViewData["Title"] = "Home Page";
}
  
        <div id="products_container" class="container text-center col-lg-offset-2 mt-34 mx-auto">

          
           

                
          

        </div>




 